<div class="controls">
  <input type="text" id="search" class="search-input" placeholder="Search icons...">
  <div class="color-swatches">
    <div class="swatch" style="background-color: #1B4DFF;" onclick="changeColor('#1B4DFF')"></div>
    <div class="swatch" style="background-color: #9101DB;" onclick="changeColor('#9101DB')"></div>
    <div class="swatch" style="background-color: #FF007A;" onclick="changeColor('#FF007A')"></div>
    <div class="swatch" style="background-color: #FB1000;" onclick="changeColor('#FB1000')"></div>
    <div class="swatch" style="background-color: #FF7F00;" onclick="changeColor('#FF7F00')"></div>
    <div class="swatch" style="background-color: #FFC502;" onclick="changeColor('#FFC502')"></div>
    <div class="swatch" style="background-color: #02B902;" onclick="changeColor('#02B902')"></div>
    <div class="swatch" style="background-color: #00DAD1;" onclick="changeColor('#00DAD1')"></div>
    <div class="swatch" style="background-color: #cbd5e1;" onclick="changeColor('#cbd5e1')"></div>
    <div class="swatch" style="background-color: #64748b;" onclick="changeColor('#64748b')"></div>
    <div class="swatch" style="background-color: #0f172a;" onclick="changeColor('#0f172a')"></div>
    <!-- Add more swatches with different colors -->
  </div>
  <input type="range" id="sizeSlider" class="size-slider" min="20" max="76" value="48">
</div>