<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="footer-contact">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>Birger Jarlsgatan 37B</li>
            <li>111 45 Stockholm, SE</li>
            <li>Email: johanna.fageras@gmail.com</li>
            <li>Phone: +46 76-065 69 42</li>
          </ul>
        </div>
      </div>

      <!-- Links Section -->
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <!-- Menu Section -->
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>Icons</h5>
          <ul class="list-unstyled">
            <li><a href="/icons/iconosphere_lineal.html">Iconosphere Lineal</a></li>
            <li><a href="/icons/iconosphere_solid.html">Iconosphere Solid</a></li>
          </ul>
        </div>
      </div>

      <!-- Menu Section -->
      <div class="col-md-2">
        <div class="footer-menu">
          <h5>Icons</h5>
          <ul class="list-unstyled">
            <li><a href="#">Another Iconset 1</a></li>
            <li><a href="#">Another Iconset 2</a></li>
            <li><a href="#">Another Iconset 3</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-logo">
          <img src="/public/images/JFicons.png" alt="Logo" width="250px" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</footer>