<header>
  <nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/public/images/JFicons.png" width="250px" height="auto"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Icon Libraries
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/icons/iconosphere_linear">Iconosphere Linear</a></li>
              <li><a class="dropdown-item" href="/icons/iconosphere_solid">Iconosphere Solid</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/icons/pixelore_linear">Pixelore Linear</a></li>
              <li><a class="dropdown-item" href="/icons/pixelore_solid">Pixelore Solid</a></li>
              <li><a class="dropdown-item" href="/icons/pixelore_duotone">Pixelore Duotone</a></li>
              <li><a class="dropdown-item" href="/icons/pixelore_monochrome">Pixelore Monochrome</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Using Icons
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Iconfonts</a></li>
              <li><a class="dropdown-item" href="#">SVG Symbols</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a href="{{ icondownloadurl }}" class="btn my-btn-fill">Download Icons <i
                  class="fas fa-arrow-down-to-bracket"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</header>