@import url(https://cdn.jsdelivr.net/gh/johanna-fageras/static/styles/circular.css);
@import url(https://cdn.jsdelivr.net/gh/johanna-fageras/static/styles/circular-mono.css);
@import url(https://cdn.jsdelivr.net/gh/johanna-fageras/static/styles/font-awesome.css);

body {
  font-family: 'Circular', sans-serif;
  font-size: 300;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fcfdfe;
}

.my-container {
  background-color: #feffff;
  position: relative;
  margin: 45px auto;
  width: 90vw;
  max-width: 1200px;
  text-align: center;
  padding: 45px 20px 50px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 45px auto 45px auto;
}


.controls input[type="text"] {
  width: 275px;
  padding: 8px 12px;
  /* Adjust padding for better spacing */
  border: 2px solid #cbd5e1;
  /* Add border for visual distinction */
  border-radius: 4px;
  /* Add border-radius for rounded corners */
  background-color: #f8fafc;
  /* Apply a subtle background color */
  transition: border-color 0.3s ease-in-out;
  /* Add transition for hover effect */
}

.controls input[type="text"]:focus,
input:focus {
  border-color: #F683B6 !important;
  /* Change border color on focus */
}

.controls input[type="text"]::placeholder {
  color: #94a3b8 !important;
  /* Adjust placeholder text color */
}

.controls input[type="text"]::-webkit-search-cancel-button {
  display: none;
  /* Hide the search cancel button in WebKit browsers */
}

.controls input[type="color"] {
  padding: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.controls input[type="range"] {
  position: relative;
  padding: 4px;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.controls input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.controls input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.controls input[type="color"]::-webkit-color-swatch {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Sleek Range Slider */
.controls input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 275px;
  height: 2px;
  background: #e2e8f0;
  border-radius: 3px;
  outline: none;
  transition: background 0.3s ease-in-out;
}

.controls input[type="range"]:hover {
  background: #cbd5e1;
}

.controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #0f172a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease-in-out;
}

.controls input[type="range"]::-webkit-slider-thumb:hover {
  background: #334155;
}

.controls input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease-in-out;
}

.controls input[type="range"]::-moz-range-thumb:hover {
  background: #555;
}

input#sizeSlider.size-slider:focus {
  border: none;
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-box {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin: 9px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon-box svg {
  font-size: 48px;
  color: #010024;
}

.icon-box label {
  color: #334155;
  margin-top: 20px;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Add ellipsis for truncated text */
  font-family: 'Circular Mono';
  font-size: 0.8rem;
}

.icon-box:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#toggleButton,
#downloadButton {
  margin-right: 10px;
  padding: 9px 15px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.btn-group {
  margin: 0 auto 30px auto;
  text-decoration: none;
  font-size: 1.1rem;
}

.btn-group-white-text {
  color: #FFFFFF;
  text-decoration: none;
  padding: 4px 4px;
  font-size: 1rem;
}

.btn-group-dark-text {
  color: #0f172a;
  text-decoration: none;
  padding: 4px 4px;
  font-size: 1rem;
}

.btn {
  border-width: 2px;
  border-radius: 4px;
}

.color-swatches {
  display: flex;
  gap: 5px;
}

.swatch {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 1px;
  border-radius: 4px;
}

.navbar {
  padding: 1em 0 0 0;
}

.nav-item {
  margin: 0 0.5em;
  font-size: 1.1rem;
  padding-top: 10px;
}

.my-btn-fill {
  background-color: #e6006e;
  color: #FFFFFF;
  padding: 11px 20px;
  border-radius: 5px;
  border: none;
}

.my-btn-fill:hover {
  background-color: #cc0062;
  border-color: none;
  color: #FFFFFF;
}

.my-btn {
  background-color: #e6006e;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}

.my-btn:hover {
  background-color: #cc0062;
  border: none;
  color: #FFFFFF;
}

.fa-solid,
.fas {
  font-family: 'Font Awesome';
  font-weight: 400;
  font-size: 20px;
  margin: 0 6px;
}

/* Define a CSS animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the icon when clicked */
.icon-box.clicked i {
  animation: spin 1s linear;
}

/* Code section styling */
.code-section {
  margin: 45px auto;
  width: 90vw;
  max-width: 1200px;
  text-align: left;
  padding: 40px 40px 50px 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.code-section h2 {
  margin-bottom: 20px;
}

.code-section .instructions {
  line-height: 1.6;
}

.code-section ol {
  margin-left: 20px;
}

.code-section pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

.code-section pre code {
  font-family: 'Circular Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
}

.code-section p,
.code-section ol {
  margin-bottom: 20px;
}

/* Media queries for mobile devices */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .controls input[type="text"] {
    width: 100%;
    margin-bottom: 8px;
  }

  .controls input[type="color"] {
    width: auto;
    margin-bottom: 12px;
  }

  .controls input[type="range"] {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .icon-box {
    width: 80px;
    height: 80px;
  }

  .icon-box i {
    font-size: 36px;
  }

  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-group {
    flex-direction: row;
    align-items: stretch;
    position: relative;
  }

  .my-container h1 {
    position: relative;
  }
}

/* Media queries for iPads */
@media (max-width: 768px) {
  .my-container {
    padding: 30px;
  }

  .icon-box {
    width: 100px;
    height: 100px;
  }

  .icon-box i {
    font-size: 48px;
  }
}

.text-muted {
  font-weight: 500;
  font-family: 'Circular';
  color: #334155 !important;
}

.footer {
  background-color: #f1f5f9;
  color: #010024;
  padding: 50px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-contact h5,
.footer-menu h5 {
  color: #010024;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-contact ul,
.footer-menu ul {
  list-style-type: none;
  padding: 0;
}

.footer-contact li,
.footer-menu li {
  margin-bottom: 0.5rem;
}

.list-unstyled a {
  color: #010024 !important;
  text-decoration: underline;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
  padding: 1em;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}